table {
  text-align: center;
  border-collapse: collapse;
  width: 80%;
  top:15%;
  left:5%;
  height:50%;
  background-color:#d9d9d9;
  position:fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
